.ex-1-square:hover {
    background-color: red;
    transition: 4s;

}

.ex-2-square:hover {
    width: 100%;
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
    transition: 4s;
}

.ex-4-square:hover {
    background-color: rgba(240, 248, 255, 0);
    transition: 3s;
}

.ex-5-square:hover {
    margin: 0;
    width: 100px;
    height: 100px;
    transition: 3s;
}

.ex-5-square:active {
    margin: 40px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.ex-6-img:hover {
    filter: grayscale();
}

.ex-7-img:hover {
    transition: 6s;
    filter: blur() sepia();
}


.ex-8-img:hover {
    transition: 4s;
    border-radius: 20px;
    filter: grayscale() sepia();
}

.ex-9-img:hover {
    transition: 6s;
    border-radius: 20px;
    margin: 0;
    width: 525px;
    filter: grayscale() sepia();
}

.ex-10-icon {
    animation: rotation infinite 2s linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.ex-11-icon {
    
}

.ex-12-button {

}

